QMainWindow {
    background: #1c1c1c;
}

QLabel {
  color: #ededed;
}
QGroupBox {
  background-color: #252525;
  border: 1px solid #2e2e2e;
}
QGroupBox:title {
  background-color: #232323;
  color: #ededed;
}
QPushButton {
  color: #fff;
  border-radius: 8px;
  border: 1px solid #2e2e2e;
  margin-top: 10px;
  outline: 0px;
}